@import url("https://fonts.googleapis.com/css?family=Ubuntu|Yatra+One&display=swap");
body {
  background-color: #595959;
  width: 60%;
  margin: 0px auto;
  box-shadow: 0px 0px 10px 12px #595959;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
header {
  background-color: black;
  padding: 5em 1.5em;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yatra One", sans-serif;
}
header h1 {
  color: white;
  font-size: 6vh;
}
nav {
  background-color: #595959;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 3vh;
  padding: 2vh 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav li,
.info li {
  list-style: none;
}
nav a:hover {
  color: #66ff33;
  text-shadow: 0 0 10px #ffffff, 2px 2px 2px rgba(102, 255, 51, 0);
}
nav a {
  color: #ccc;
  text-decoration: none;
}
footer {
  background-color: black;
  padding: 0.5em 1.5em;
  text-align: center;
  color: white;
}
.container {
  background-color: gray;
  padding: 3%;
  overflow: auto;
}
.poster,
.info,
.comment,
.trailer,
.rankOP {
  float: left;
}
.poster::after,
.info::after,
.comment::after,
.trailer::after,
.rankOP::after,
.poster::before,
.info::before,
.comment::before,
.trailer::before,
.rankOP::before {
  content: "";
  display: table;
  clear: both;
}
.rankOP,
.info,
.poster,
.comment,
.trailer {
  border: 2px solid red;
  margin: 2%;
}
.poster {
  width: 31%;
  padding: 3%;
}
.rankOP {
  width: 96%;
  padding: 0% 3% 3% 3%;
}
.rank {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.info {
  height: 471px;
  width: 61%;
  padding: 3%;
}
.name {
  width: 100%;
}
.name h3 {
  font-size: 4.3vh;
  text-align: center;
}
.name p {
  font-size: 2vh;
  font-weight: lighter;
  text-align: center;
}
.numbers {
  width: 100%;
  padding-top: 5%;
  font-size: 1.25rem;
}
.poster img {
  width: 100%;
  height: 400px;
}
.trailer {
  position: relative;
  width: 96%;
  padding: 3% 3% 50.75% 3%;
  height: 0;
}
.trailer iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.comment {
  width: 96%;
  padding: 3%;
}
.comment h2 {
  font-size: 3vh;
}
.comment p {
  font-size: 1.25rem;
  text-align: justify;
}
.rankOP img {
  height: 8vh;
}
.rankOP h2 {
  font-size: 3vh;
  padding-bottom: 2%;
}
.csfd,
.imdb,
.edna,
.moje {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
}
