@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&family=Work+Sans:wght@300;400;500;600;700&display=swap");
html {
  background-color: rgb(26, 26, 26);
  color: rgb(219, 218, 218);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 7rem;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 1.7rem;
}
header,
footer {
  background-image: linear-gradient(
      307deg,
      rgba(77, 77, 77, 0.05) 0%,
      rgba(77, 77, 77, 0.05) 25%,
      rgba(172, 96, 96, 0.05) 25%,
      rgba(172, 96, 96, 0.05) 38%,
      rgba(80, 80, 80, 0.05) 38%,
      rgba(80, 80, 80, 0.05) 75%,
      rgba(36, 36, 36, 0.05) 75%,
      rgba(36, 36, 36, 0.05) 100%
    ),
    linear-gradient(
      135deg,
      rgba(57, 57, 57, 0.05) 0%,
      rgba(57, 57, 57, 0.05) 34%,
      rgba(94, 94, 94, 0.05) 34%,
      rgba(94, 94, 94, 0.05) 57%,
      rgba(25, 25, 25, 0.05) 57%,
      rgba(25, 25, 25, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 100%
    ),
    linear-gradient(
      332deg,
      rgba(55, 55, 55, 0.05) 0%,
      rgba(55, 55, 55, 0.05) 14%,
      rgba(80, 80, 80, 0.05) 14%,
      rgba(80, 80, 80, 0.05) 60%,
      rgba(152, 70, 70, 0.05) 60%,
      rgba(152, 70, 70, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 100%
    ),
    linear-gradient(
      340deg,
      rgba(255, 243, 243, 0.05) 0%,
      rgba(255, 243, 243, 0.05) 32%,
      rgba(98, 98, 98, 0.05) 32%,
      rgba(98, 98, 98, 0.05) 35%,
      rgba(98, 93, 93, 0.05) 35%,
      rgba(98, 93, 93, 0.05) 51%,
      rgba(0, 0, 0, 0.05) 51%,
      rgba(0, 0, 0, 0.05) 100%
    ),
    linear-gradient(183deg, rgb(12, 12, 12), rgb(12, 12, 12));
}
header {
  text-align: center;
  padding: 7%;
}
footer {
  text-align: center;
  padding: 2%;
  background-color: black;
  font-size: 1.7rem;
  font-family: "Work Sans", sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 4.8rem;
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  padding: 1%;
  margin: 2.5%;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 0 5px 10px rgb(20, 20, 20);
}
nav a {
  text-decoration: none;
  color: rgb(219, 218, 218);
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  position: absolute;
  margin-left: -7%;
}
nav a:hover {
  color: rgb(179, 39, 39);
  transform: rotate(-5deg);
  text-shadow: 0 0 10px rgb(216, 57, 57);
}
/*Stránka Nadpis*/
.page-name {
  text-align: center;
  padding: 2%;
  margin: 2%;
  font-family: "Work Sans", sans-serif;
}
/*Seriály - Hlavní containery*/
.series-container-right,
.series-container-left {
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  padding: 2%;
  margin: 2%;
}
/*Band of Brothers*/
.bandofbrothers-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 25%,
      rgba(26, 26, 26, 0.5) 40%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/bandofbrothers1.jpg);
  background-position: right;
}
.bandofbrothers-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/bandofbrothers2.jpg);
  background-position: left;
}
/*Black Mirror*/
.blackmirror-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 30%,
      rgba(26, 26, 26, 0.5) 45%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/blackmirror1.jpg);
  background-position: right;
}
.blackmirror-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 30%,
      rgba(26, 26, 26, 0.5) 45%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/blackmirror2.jpg);
  background-position: left;
}
/*Bodyguard*/
.bodyguard-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/bodyguard1.jpg);
  background-position: right;
}
.bodyguard-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/bodyguard2.jpg);
  background-position: left;
}
/*Carnival Row*/
.carnivalrow-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/carnivalrow1.jpg);
  background-position: right;
}
.carnivalrow-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/carnivalrow2.jpg);
  background-position: left;
}
/*Dark*/
.dark-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/dark1.jpg);
  background-position: right;
}
.dark-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/dark2.jpg);
  background-position: left;
}
/*Dr. House*/
.drhouse-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/house1.jpg);
  background-position: right;
}
.drhouse-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/house2.jpg);
  background-position: left;
}
/*Game of Thrones*/
.gameofthrones-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/gameofthrones1.jpg);
  background-position: right;
}
.gameofthrones-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/gameofthrones2.jpg);
  background-position: left;
}
/*His Dark Materials*/
.hisdarkmaterials-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/hisdarkmaterials1.jpg);
  background-position: right;
}
.hisdarkmaterials-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/hisdarkmaterials2.jpg);
  background-position: left;
}
/*Chernobyl*/
.chernobyl-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 30%,
      rgba(26, 26, 26, 0.5) 45%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/chernobyl1.jpg);
  background-position: right;
}
.chernobyl-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/chernobyl2.jpeg);
  background-position: left;
}
/*Chilling Adventures of Sabrina*/
.sabrina-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 30%,
      rgba(26, 26, 26, 0.5) 45%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/sabrina1.webp);
  background-position: right;
}
.sabrina-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/sabrina2.jpg);
  background-position: left;
}
/*Impulse*/
.impulse-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/impulse.jpg);
  background-position: right;
}
.impulse-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/impulse2.png);
  background-position: left;
}
/*In the Dark*/
.inthedark-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/inthedark1.jpg);
  background-position: right;
}
.inthedark-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/inthedark2.jpg);
  background-position: left;
}
/*iZombie*/
.izombie-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/izombie1.jpg);
  background-position: right;
}
.izombie-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/izombie2.jpg);
  background-position: left;
}
/*Le Casa de Papel*/
.money-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/money1.jpg);
  background-position: right;
}
.money-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/money2.jpg);
  background-position: left;
}
/*Love, Death & Robots*/
.robots-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 25%,
      rgba(26, 26, 26, 0.5) 40%,
      rgba(255, 255, 255, 0) 55%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/lovedeathrobot1.jpg);
  background-position: right;
}
.robots-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/lovedeathrobot2.jpg);
  background-position: left;
}
/*Marvel's Daredevil*/
.daredevil-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/daredevil1.jpg);
  background-position: right;
}
.daredevil-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/daredevil2.jpg);
  background-position: left;
}
/*Marvel's Iron Fist*/
.ironfist-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/ironfist1.jpeg);
  background-position: right;
}
.ironfist-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/ironfist2.jpg);
  background-position: left;
}
/*Marvel's Jessica Jones*/
.jessica-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/jessica1.jpg);
  background-position: right;
}
.jessica-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/jessica2.jpg);
  background-position: left;
}
/*Marvel's Luke Cage*/
.luke-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/lukecage1.jpg);
  background-position: right;
}
.luke-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/lukecage2.png);
  background-position: left;
}
/*Marvel's The Defenders*/
.defenders-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/defenders1.png);
  background-position: right;
}
.defenders-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/thedefenders2.jpeg);
  background-position: left;
}
/*Marvel's The Punisher*/
.punisher-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/thepunisher1.jpg);
  background-position: right;
}
.punisher-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/thepunisher2.jpg);
  background-position: left;
}
/*Prison Break*/
.prison-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/prisonbreak1.jpg);
  background-position: right;
}
.prison-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/priosnbreak2.jpeg);
  background-position: left;
}
/*Rick and Morty*/
.rick-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/rickandmoty1.jpg);
  background-position: right;
}
.rick-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/rickandmorty2.jpeg);
  background-position: left;
}
/*Seal Team*/
.seal-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/sealteam1.jpg);
  background-position: right;
}
.seal-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/sealteam2.jpg);
  background-position: left;
}
/*Sherlock*/
.sherlock-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/sherlock1.jpg);
  background-position: right;
}
.sherlock-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/sherlock2.jpg);
  background-position: left;
}
/*Stranger Things*/
.stranger-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/strangerthings01.jpg);
  background-position: right;
}
.stranger-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/strangerthings2.jpg);
  background-position: left;
}
/*The End of the F***ing World*/
.end-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/endofthefuckingworld1.jpg);
  background-position: right;
}
.end-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/endofthefuckingworld2.webp);
  background-position: left;
}
/*The Pacific*/
.pacific-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/pacific1.jpg);
  background-position: right;
}
.pacific-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/pacific2.jpg);
  background-position: left;
}
/*The Walking Dead*/
.twd-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/twd1.jpg);
  background-position: right;
}
.twd-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/twd2.jpg);
  background-position: left;
}
/*The Witcher*/
.witcher-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/witcher1.jpg);
  background-position: right;
}
.witcher-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/witcher2.jpg);
  background-position: left;
}
/*To Hot To Handle*/
.tohot-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/tohottohandle1.png);
  background-position: right;
}
.tohot-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/tohottohandle2.jpg);
  background-position: left;
}
/*Vikings*/
.viking-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/vikings1.jpg);
  background-position: right;
}
.viking-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/vikings2.jpg);
  background-position: left;
}
/*Seriály - Název*/
.series-name {
  color: rgb(133, 133, 133);
  text-align: center;
  padding: 5% 5% 1.5% 5%;
  width: fit-content;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.series-name p {
  padding-top: 1%;
}
/*Seriály - Logo*/
.series-logo {
  height: 100px;
}
/*Seriály - Popis*/
.series-description,
.series-info {
  max-width: 40%;
  margin-left: 3%;
}
.series-description {
  padding: 4% 2% 2% 2px;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}
.series-info {
  padding: 0.5% 0;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: "Work Sans", sans-serif;
}
.series-info td {
  padding: 2px 2px 2px 4px;
}
.table-bold {
  font-weight: bold;
}
.table-grey {
  color: rgb(133, 133, 133);
}
/*Seriály - Trailer*/
.series-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.series-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.series-trailer {
  margin: 5% 0 0 50%;
  width: 40%;
}
/*Seriály - Komentář*/
.series-comment {
  margin: 2% 2% 0 45%;
  max-width: 50%;
}
.series-comment p {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 1px;
  color: rgb(219, 218, 218);
  font-family: "Work Sans", sans-serif;
}
.series-comment h2 {
  color: rgb(247, 247, 247);
  font-size: 2.2rem;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}
/*Seriály - Hodnocení*/
.rank,
.rank1,
.rank2,
.rank3 {
  padding: 2%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: fit-content;
}
.series-rank {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 22vh);
  background-image: url(images/backgrounds/tv.png);
  background-size: 100%;
  background-repeat: no-repeat;
  justify-items: center;
  align-items: flex-start;
  column-gap: 20px;
  max-width: 60%;
  padding: 1.5% 4.5% 0 2%;
}
.moje,
.csfd,
.imdb,
.edna {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}
.rank img,
.rank2 img,
.moje,
.imdb {
  width: 200px;
}
.rank1 img,
.rank3 img,
.csfd,
.edna {
  width: 300px;
}
.moje {
  background-color: #333333;
  border-radius: 10px;
}
.csfd {
  background-color: #ba0305;
  border-radius: 18px;
}
.csfd-extra {
  font-size: 0.8rem;
  font-weight: 700;
}
.imdb {
  background-color: #333333;
  border-radius: 9px;
}
.edna {
  background-color: #313637;
  border-radius: 5px;
}
.edna-star {
  height: 0.8rem;
}
/*Seriály - Foto + Promo*/
.series-foto {
  width: 40%;
}
.series-promo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2%;
  max-width: 100%;
}
hr {
  max-width: 100%;
  margin: 2% 6%;
  border: 0.5px rgb(179, 179, 179) inset;
}
