@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&family=Work+Sans:wght@300;400;500;600;700&display=swap");
html {
  background-color: rgb(26, 26, 26);
  color: rgb(219, 218, 218);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 1.7rem;
}
header {
  text-align: center;
  padding: 2%;
  background-color: black;
}
/*Seriály - Hlavní containery*/
.series-container-right,
.series-container-left {
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  padding: 2%;
  margin: 1% 2%;
}
/*Band of Brothers*/
.bandofbrothers-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 25%,
      rgba(26, 26, 26, 0.5) 40%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/bandofbrothers1.jpg);
  background-position: right;
}
.bandofbrothers-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/bandofbrothers2.jpg);
  background-position: left;
}
/*Black Mirror*/
.blackmirror-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 30%,
      rgba(26, 26, 26, 0.5) 45%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/blackmirror1.jpg);
  background-position: right;
}
.blackmirror-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 30%,
      rgba(26, 26, 26, 0.5) 45%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/blackmirror2.jpg);
  background-position: left;
}
/*Bodyguard*/
.bodyguard-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/bodyguard1.jpg);
  background-position: right;
}
.bodyguard-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/bodyguard2.jpg);
  background-position: left;
}
/*Carnival Row*/
.carnivalrow-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/carnivalrow1.jpg);
  background-position: right;
}
.carnivalrow-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/carnivalrow2.jpg);
  background-position: left;
}
/*Dark*/
.dark-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/dark1.jpg);
  background-position: right;
}
.dark-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/dark2.jpg);
  background-position: left;
}
/*Dr. House*/
.drhouse-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/house1.jpg);
  background-position: right;
}
.drhouse-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/house2.jpg);
  background-position: left;
}
/*Game of Thrones*/
.gameofthrones-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/gameofthrones1.jpg);
  background-position: right;
}
.gameofthrones-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 55%,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/gameofthrones2.jpg);
  background-position: left;
}
/*His Dark Materials*/
.hisdarkmaterials-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 35%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/hisdarkmaterials1.jpg);
  background-position: right;
}
.hisdarkmaterials-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/hisdarkmaterials2.jpg);
  background-position: left;
}
/*Chernobyl*/
.chernobyl-right {
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 30%,
      rgba(26, 26, 26, 0.5) 45%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/chernobyl1.jpg);
  background-position: right;
}
.chernobyl-left {
  background-image: linear-gradient(
      to left,
      rgb(26, 26, 26) 0%,
      rgb(26, 26, 26) 40%,
      rgba(26, 26, 26, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgb(26, 26, 26) 0%,
      rgba(26, 26, 26, 0.5) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(images/backgrounds/chernobyl2.jpeg);
  background-position: left;
}
/*Seriály - Název*/
.series-name {
  color: rgb(133, 133, 133);
  text-align: center;
  padding: 5% 5% 1.5% 5%;
  width: fit-content;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.series-name p {
  padding-top: 1%;
}
/*Seriály - Logo*/
.series-logo {
  height: 100px;
}
/*Seriály - Popis*/
.series-description,
.series-info {
  max-width: 40%;
  margin-left: 3%;
}
.series-description {
  padding: 4% 2% 2% 2px;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}
.series-info {
  padding: 0.5% 0;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: "Work Sans", sans-serif;
}
.series-info td {
  padding: 2px 2px 2px 4px;
}
.table-bold {
  font-weight: bold;
}
.table-grey {
  color: rgb(133, 133, 133);
}
/*Seriály - Trailer*/
.series-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.series-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.series-trailer {
  margin: 5% 0 0 50%;
  width: 40%;
}
/*Seriály - Komentář*/
.series-comment {
  margin: 2% 2% 0 45%;
  max-width: 50%;
  font-family: "Roboto Slab", serif;
}
.series-comment p {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 1px;
  color: rgb(219, 218, 218);
}
.series-comment h2 {
  color: rgb(247, 247, 247);
  font-size: 2.2rem;
  font-weight: 400;
}
/*Seriály - Hodnocení*/
.rank,
.rank1,
.rank2,
.rank3 {
  padding: 2%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: fit-content;
}
.series-rank {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 22vh);
  background-image: url(images/backgrounds/tv.png);
  background-size: 100%;
  background-repeat: no-repeat;
  justify-items: center;
  align-items: flex-start;
  column-gap: 20px;
  max-width: 60%;
  padding: 1.5% 4.5% 0 2%;
}
.moje,
.csfd,
.imdb,
.edna {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}
.rank img,
.rank2 img,
.moje,
.imdb {
  width: 200px;
}
.rank1 img,
.rank3 img,
.csfd,
.edna {
  width: 300px;
}
.moje {
  background-color: #333333;
  border-radius: 10px;
}
.csfd {
  background-color: #ba0305;
  border-radius: 18px;
}
.csfd-extra {
  font-size: 0.8rem;
  font-weight: 700;
}
.imdb {
  background-color: #333333;
  border-radius: 9px;
}
.edna {
  background-color: #313637;
  border-radius: 5px;
}
.edna-star {
  height: 0.8rem;
}
/*Seriály - Foto + Promo*/
.series-foto {
  width: 40%;
}
.series-promo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2%;
  max-width: 100%;
}
hr {
  max-width: 100%;
  margin: 2% 6%;
  border: 0.5px rgb(179, 179, 179) inset;
}
